.main {
  background-image: url(https://down-vn.img.susercontent.com/file/sg-11134004-7rbl4-lokx9dgir7pd13);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
