@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
  height: 1px;
  width: 13px;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  background-color: #f7d7d8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffabb0ff;
  border-radius: 20px;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}